spring:
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    url: jdbc:h2:mem:test

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true      # (2) SQL 쿼리 출력
    properties:
      hibernate:
        format_sql: true  # (3) SQL pretty print
        highlight_sql: true
        color-codes: true
        use_sql_comments: true
#    defer-datasource-initialization: true # 더미데이터 전 테이블 부터 만듦

  sql:
    init:
#      data-locations: classpath*:db/h2/data.sql # 더미데이터
#      mode: always # 더미데이터 관련
      platform: h2
  security:
    oauth2:
      client:
        registration:
          google:
            clientId: ${G_CLIENT_ID}
            clientSecret: ${G_CLIENT_SECRET}
            scope:
              - email
              - profile
          github:
            clientId: ${H_CLIENT_ID}
            clientSecret: ${H_CLIENT_SECRET}

logging:
  level:
    org:
      hibernate:
        type:
          descriptor:
            sql: trace;
      springframework:
        orm:
          jpa: DEBUG

server:
  servlet:
    encoding:
      force-response: true
mail:
  address:
    admin: admin@gmail.com